/* CSS declarations go here */
body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin:0;
}

li {list-style: none}

h4 {
  margin: 2em 0 0;
  padding: 0 1em;
}

blockquote {
  margin: 0;
  padding: 0.5em 1em;
  font-size: 1.2em;
}

#logo {
  color: #fafafa;
  margin: 0.5em 0.1em 0.5em 0.4em;
  display: inline-block;
}

#sidebar {
  width: 22%;
  background-color: #333;
  height: 100vh;
  padding: 1% 0;
  box-sizing: border-box;
  color: #eee;
  position: fixed;
}

#sidebar li{
  padding: 0.2em 1em;
}

#sidebar li.selected{
  background-color: #444;
}

#sidebar li a {
  color: #f6f6f6;
  text-decoration: none;
}

#main {
  width: 50%;
  padding: 2%;
  margin-left: 22%;
}

#login-buttons {
  float: right;
}

#messages {
}

#messageInput {
  width: 70%;
  border: 1px solid #999;
  line-height: 1.5em;
  padding: 0.2em 1em;
  border-radius: 0.5em;
}

.time {
  color: #ccc;
}
