/* CSS declarations go here */
body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin:0;
}

li {list-style: none}

h4 {
  margin: 2em 0 0;
  padding: 0 1em;
  color: #fff;
}

blockquote {
  margin: 4px 0 4px 48px;
  padding: 0;
  font-size: 1.1em;
}

a{
  color: #999;
  text-decoration: none;
}

#logo {
  position: fixed;
  width: 254px;
  bottom: 0;
  background-color: #363636;
}

#logo h1 {
  color: #fafafa;
  margin: 6px 0.1em 6px 0.4em;
  display: inline-block;
}

#status {
  padding: 11px;
  height: 32px;
  background-color: #363636;
}

#status #login-buttons {
  float: right;
}

#status #login-dropdown-list {
  width: 230px;
}

#sidebar {
  box-sizing: border-box;
  border-right: 2px solid #666;
  width: 256px;
  background-color: #333;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
  position: fixed;
}

#sidebar li{
  padding: 0.2em 1em;
}

#sidebar li.selected{
  background-color: #444;
  font-weight: bold;
}

#sidebar li a {
  color: #eaeaea;
  text-decoration: none;
}

#sidebar li a.channel-action {
  float: right;
  color: #777;
}

#sidebar li a.channel-action:hover {
  color: #ccc;
}

#channel-list a.channel-action {
  display: none;
}

#sidebar li span.unread-count {
  float: right;
  background: #b11;
  font-size: 0.7em;
  padding: 0px 6px;
  border-radius: 4px;
}

#channel-manager {
  display: none;
}

#channel-manager .unread-count{
  display: none;
}

#channel-create {
  padding: 0.2em 1em;
  color: #999;
}

#channel-create form {
}

#channel-create input{
  width: 9em;
  margin: 4px;
  background-color: #999;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.6em;
  padding: 0 0.5em;
}

#toggle-manager {
  float: right;
  font-weight: normal;
  color: #666;
  background-color: #444;
  font-size: 0.8em;
  padding: 0 5px 2px;
  border-radius: 4px;
}

#main {
  min-width: 400px;
  height: 100vh;
  margin-left: 256px;
}

#messages {
  position: fixed;
  box-sizing: border-box;
  width: 640px;
  padding: 0;
  overflow: auto;
  bottom: 54px;
}

#message-form {
  width: 640px;
  box-sizing: border-box;
  padding: 8px 20px;
  height: 54px;
  position: fixed;
  background-color: #f0f0f0;
  bottom: 0;
}

#message-input {
  width: 480px;
  border: 1px solid #bbb;
  line-height: 1.5em;
  padding: 0.2em 0.5em;
  border-radius: 6px 0 0 6px;
  font-size: 1.1em;
}

#message-submit {
  border-radius: 0 6px 6px 0;
  background-color: #333;
  border: 1px solid #666;
  color: #fff;
  font-size: 1.2em;
  padding: 4px 12px;
  margin-left: -6px;
  position: relative;
  top: 1px;
  cursor: pointer;
}

#message-submit:hover {
  background-color: #444;
}

.time {
  color: #ccc;
  font-weight: normal;
}

.gavatar {
  width: 32px;
  height: auto;
  border-radius: 4px;
}

.message {
  padding: 12px 16px;
  border-bottom: 1px solid #fafafa;
}

.message:hover {
  background-color: #fdfdfd;
}
.message .gavatar {
  position: absolute;
  margin: 4px;
}

.message .message-meta {
  margin-left: 48px;
  color: #666;
  font-weight: bold;
}

.tip {
  margin: 5px 15px;
  color: #aaa;
}
